<div class="card border-success">
    <div class="card-body">
        <h5 class="card-title text-success">@ViewBag.Title</h5>
        <p class="card-text lead">@ViewBag.Message</p>
        <a asp-action="Index" class="btn btn-primary">View books</a>
    </div>
</div>
