@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Authors" asp-action="Index" class="btn-dark">Authors</a>
    <a asp-controller="Books" asp-action="Index" class="btn-dark">Books</a>
</div>
<!--para a base de dados Add-Migration initial -Context BooksContext -o .\Data\BooksMigrations --> 